.ofutebol{

	background-color: #007bff;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;


}

.sobre{

	background-color: #007bff;
}


.cont{
		background-color: #87CEFA;

	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}